@media (min-width: 1024px) {
	//.page-wrapper {
	//	margin-left: $sidebar-width;
	//}
	//
	//.footer {
	//	left: $sidebar-width;
	//}
}

@media (max-width: 1023px) {
	.page-wrapper {
		//margin-left: 60px;
		transition: 0.2s ease-in;
	}

	//.footer {
	//	left: 60px;
	//}
}

@media (min-width: 768px) {
	.mini-sidebar .sidebar-nav #sidebarnav li {
		position: relative;
	}

	.mini-sidebar .sidebar-nav #sidebarnav > li > ul {
		position: absolute;
		left: 60px;
		top: 45px;
		width: 200px;
		z-index: 1001;
		background: $sidebar-alt;
		display: none;
		padding-left: 1px;
	}

	.mini-sidebar .sidebar-nav {
		padding: 5px;
	}

	.mini-sidebar.fix-sidebar .left-sidebar {
		position: absolute;
	}

	.mini-sidebar .sidebar-nav #sidebarnav > li:hover > ul {
		height: auto !important;
		overflow: auto;
	}

	.mini-sidebar .sidebar-nav #sidebarnav {
		> li:hover > ul,
		> li:hover > ul.collapse {
			display: block;
		}

		> li > a.has-arrow:after {
			display: none;
		}
	}

	.mini-sidebar {
		.left-sidebar {
			width: 60px;
		}

		.user-profile {
			padding-bottom: 15px;
			width: 60px;
			margin-bottom: 7px;

			.profile-img {
				padding: 15px 0 0 0;
				margin: 0 0 0 6px;

				&:before {
					top: 15px;
				}
			}
		}

		.scroll-sidebar {
			padding-bottom: 0;
			position: absolute;
		}

		.hide-menu,
		.nav-small-cap,
		.sidebar-footer,
		.user-profile .profile-text {
			display: none;
		}

		.nav-divider {
			width: 50px;
		}

		.sidebar-nav {
			background: transparent;
		}

		.sidebar-nav #sidebarnav > li > a {
			padding: 9px 15px;
			width: 50px;
		}

		.sidebar-nav #sidebarnav > li:hover > a {
			width: 260px;
			background: $themecolor-alt;
			color: $white;
			border-color: $themecolor;

			i {
				color: $white;
			}

			.hide-menu {
				display: inline;
			}
		}

		.sidebar-nav #sidebarnav > li.active > a {
			border-color: transparent;

			&.active {
				border-color: $themecolor;
			}
		}
	}

	.mini-sidebar {
		//.page-wrapper {
		//	margin-left: 60px;
		//}
		//
		//.footer {
		//	margin-left: 60px;
		//}
	}

	.flex-wrap {
		flex-wrap: nowrap !important;
	}

	.navbar-header {
		width: $sidebar-width;
		flex-shrink: 0;

		.navbar-brand {
			padding-top: 0;
		}
	}
}

@media (max-width: 767px) {
	.mini-sidebar {
		.left-sidebar {
			position: fixed;
		}

		.left-sidebar,
		.sidebar-footer {
			left: -$sidebar-width;
		}

		&.show-sidebar {
			.left-sidebar,
			.sidebar-footer {
				left: 0;
			}
		}
	}

	.topbar {
		.top-navbar {
			padding-right: 15px;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;

			.navbar-collapse {
				display: flex;
				width: 100%;
			}

			.navbar-nav {
				flex-direction: row;

				> .nav-item.show {
					position: static;

					.dropdown-menu {
						width: 100%;
						margin-top: 0;
					}
				}

				.nav-item > .nav-link {
					padding-left: .5rem;
					padding-right: .5rem;
				}

				.dropdown-menu {
					position: absolute;
				}
			}
		}
	}

	//.mini-sidebar .page-wrapper {
	//	margin-left: 0;
	//}
	//
	//.footer {
	//	left: 0;
	//}
}