/////////////////
// Main sidebar
///////////////

.left-sidebar {
	width: $sidebar-width;
	display: flex;
	z-index: 20;
	background: $sidebar;
}

.fixed-sidebar {
    .left-sidebar {
        height: 100vh;
        overflow: hidden;
        position: fixed;

        nav.sidebar-nav {
            padding-bottom: 75px;
        }
    }

    .main-content-wrapper {
        margin-left: $sidebar-width;
    }

    .header-affix.affix + .content-wrapper {
        .sidebar-nav {
            padding-bottom: 20px;
        }
    }
}

.scroll-sidebar,
.scroll-sidebar ul,
.scroll-sidebar li,
.scroll-sidebar a {
    border: 0;
    font-weight: normal;
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
}

.scroll-sidebar {
    background-color: $sidebar;
    width: 100%;

    nav.sidebar-nav {
        padding-top: 15px;
        padding-bottom: 60px;
    }
}

ul.sidebarnav {
    .nav-small-cap {
        padding: 12px 25px !important;
        letter-spacing: 0.035em;
        pointer-events: none;
        cursor: default;
        font-size: 13px;
    }

    .divider {
        height: 1px;
        background: rgba(120, 130, 140, 0.13);
        display: block;
        margin: 10px 25px;
    }
}

////////////////////////
// Sidebar Navigation
/////////////////////

.sidebar-nav {
    > ul {
        > li {
            > a {
                display: flex;
                align-items: center;
                padding: 16px 25px;
                margin: 3px 0;
                background-color: $white;

                > i {
                    font-size: 18px;
                    line-height: 25px;
                    margin-left: 3px;
                    margin-right: 10px;
                    text-align: center;
                    width: 25px;
                    height: 25px;
                    border-radius: 2px;
                }
            }
        }

        > li.has-children {
            ul {
                width: 100%;
                position: relative;
                padding-left: 50px;
                padding-top: 0;
                background: transparent;

                > li {
                    > a {
                        padding: 12px 25px;
                        line-height: 1.5;
                        font-size: 14px;
                        min-height: auto;
                        display: block;

                        &.active {
                            font-weight: 500;
                        }
                    }
                }

                ul {
                    padding-left: 20px;
                }
            }
        }
    }

    //ul ul {
    //    a {
    //        display: block;
    //        padding: 12px 25px 12px 60px;
    //        font-size: 14px;
    //    }
    //}
}

.has-children {
    .hide-menu {
        display: flex;
        flex: 1;
        justify-content: space-between;
    }
}